<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="hdm.csm.emergency">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RegisterActivity"
            android:label="@string/title_activity_register" />
        <activity
            android:name=".EmergencyReactionGuide"
            android:label="@string/title_activity_faq" />
        <activity
            android:name=".FAQActivity"
            android:label="@string/title_activity_faq" />
        <activity
            android:name=".GTCActivity"
            android:label="@string/title_activity_gtc" />
        <activity
            android:name=".PastReportsActivity"
            android:label="@string/title_activity_past_reports" />
        <activity
            android:name=".ReportDetailActivity"
            android:label="@string/title_activity_report_detail" />
        <activity
            android:name=".CreateReportActivity"
            android:label="File Report"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".DetailExchangeGuide"
            android:label="Detail Exchange Guide" />
    </application>

</manifest>
